@charset "UTF-8"; 

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,600&display=swap');

:root{
    --cor0:#B6FFC0;
    --cor1:#A4E6AD;
    --cor2:#88BF90;
    --cor3:#5B8060;
    --cor4:#2D4030;

    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-h1-destaque: 'Noto Serif', serif, arial;
    --font-titulos: 'Josefin Sans', serif, arial;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor0);
    font-family: var(--font-padrao);
}

header{
    background-color: var(--cor3);
    text-align: center;
    padding-top: 30px;
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor4));
    min-height: 150px;
}

header >h1{
    color: white;
    font-family: var(--font-h1-destaque);
    margin-bottom: 25px;
    font-size: 3em;
    text-shadow: 3px 2px 1px black;
}

header > p{
    color: white;
    margin: auto;
    margin-bottom: 15px;
    text-shadow: 2px 1px 1px black ;
    padding-right: 10px;
    padding-left: 10px;
}

nav{
    background-color: var(--cor4);
    padding: 10px;
    box-shadow: 0px 7px 7px black;
}

nav >a {
    color: var(--cor1);
    padding: 12px;
    border-radius: 7px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
}

nav >a:hover{
    text-decoration: underline;
    color: var(--cor0);
    background-color: var(--cor3);
}

main{
    max-width: 1000px; 
    min-width: 350px;
    margin: auto;
    background-color: white;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 2px 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h1{
    color: var(--cor4);
    padding: 0px 0px 10px 0px;
    font-size: 1.8em;
    font-family: var(--font-titulos);
    text-align: center;
    font-weight: normal;
    margin-top: 10px;
}

main h2{
    font-family: var(--font-titulos);
    font-weight: normal;
    color: #344736;
    background-image: linear-gradient(to right, var(--cor2), transparent);
    font-size: 1.5em;
    padding-right: 2px;
    margin-top: 0px;
}

main strong{
    color: var(--cor4);
    font-weight: bold;
    background-color: var(--cor0);
}

main p{
    margin: 15px 5px 15px 5px;
    text-align: justify;
    text-indent: 40px;
    line-height: 1.3em;
}

main img{
    margin: auto;
    display: block;
    width: 30%;
}
ul{
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}

aside{
    background-color: var(--cor1);
    margin: -5px -5px -5px -5px;
    border-radius: 15px;
    border: 10px;
    padding-bottom: 5px;
    
}

aside h3{
    margin: 20px 0px 10px 20px;
    padding: 15px 10px 0px 10px;
    box-shadow: 15px;
}

aside p{
    margin: 10px 5px 15px 5px;
    text-align: justify;
}

p.final-p{
    font-size: 1.1em;
}
.site{
    text-decoration: none;
    color: var(--cor4);
    background-color: #aed3b4;
}

.site:hover{
    background-color: #5B8060;
    color: var(--cor0);
    text-decoration: underline;
}

footer{
    background-color: #2D4030;
    color: white;
    text-align: center;
    padding: 8px;
}

footer a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover{
    text-decoration: underline;
    color: #79aa81;
}