@charset "UTF-8"

*{
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    text-align: justify;
}
body{
  background-image: linear-gradient( to right, #FACFCE, #008F8C );  
}
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #034159;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #23606E;
    text-align: center;
    text-shadow: 1px 1px 2px #033c52;
}
h2{
    color: #589A8D;
}