@charset "UTF-8";

*{
    padding: 0%;
    margin: 0%;
}

body{
    background: url(imagens/abra\ aqui!!!.png) no-repeat top center ;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
header{
    background-color: rgb(179, 40, 40);
    color: white;
    text-align: center;
}

header > h1{
    padding-top: 25px;
    padding-bottom: 10px;
    font-variant: small-caps; /*todas letras maiusculas mas com tamanhos respeitando a 1 sendo a maior */
    font-family: var(--font2);
    font-size: 5vw;
}
h2{
    text-align: center;
    font-weight: 5em;
    margin: 20px 0px 15px 0px;
}
a{
    display: block;
}

a#sim{position:absolute;
    top: 20%; left: 0%;
    background-color: brown;
    color: white;
    text-decoration: none;
    padding: 20px;
    margin-top: 100px;
    font-size: 1em;
}

a#nao{
    position:absolute;
    background-color: brown;
    color: white;
    text-decoration: none;
    padding: 20px;
    margin-top: 100px;
    font-size: 1em;
    top: 20%; left: 60%;
}
 a:hover{
    background-color: red;
    text-decoration: underline;
}
section#pergunta1{
    text-align: left;
}

section#pergunta2{
    text-align: right;

}
p{
    font-family: Arial, Helvetica, sans-serif;
}