@charset "UTF-8";

*{
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

body, html{
    background-color: lightgrey;
}

header{
    background-color: gray;
}

header > h1{
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
}

span#burguer{
    background-color: rgb(46, 46, 46);
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 2em;
    cursor: pointer;
}

span#burguer:hover{
    background-color: white;
    color: black;
}

menu{
    display: none;
}

menu > ul{
    list-style-type: none;
}

menu > ul> li > a{
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: rgb(77, 77, 77);
    color: white;
    text-align: center;
    border-top: 2px solid rgb(170, 170, 170);
}

menu > ul > li > a:hover{
    background-color: gray;
}

main{
    width: 90vw;
    background-color: white;
    margin: auto;
    padding: 15px;
    border-radius: 10px;
    margin-top: 10px;
}

article > h2{
    padding-bottom: 20px;
}

article > p{
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}


